.panel
  .title
    =se("Password Reset")
  .instructions
    =se("Reset your password by choosing a new one here.")
  .body
    =form_for($user)
    %table
      %tr
        %th New Password
        %td =password_field('password')
      %tr
        %th Confirm
        %th =password_field('password_confirm')
      %tr
        %th
        %td =submit_tag('Reset Password')
    =end_form_for()