.panel
  .title
    =se("Reset your password")
  .instructions
    =se("To reset or change your password, please enter your username or email address. We will send you a link via email that will allow you to reset your password.")
  .body
    =form_for($user)
    %table
      %tr
        %th =se("Username or Email")
        %td =text_field('username')
      %tr
        %th
        %td =submit_tag('Send Password Reset Link')
    =end_form_for()